.demo {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow:
    inset 0 0 10px #e26505,
  inset 
  0 0 30px #ee5b07,
  -30px 0 60px rgb(219, 131, 7),
  30px 0 60px rgb(230, 146, 10);
  }
  .moon{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow:
    inset 0 0 10px hsl(0, 3%, 93%),
  inset 
  0 0 30px #fffdfc,
  -30px 0 60px rgb(249, 247, 244),
  30px 0 60px rgb(250, 249, 248);
  background-color: white;
  opacity: 80%;
  }


 
/*main divs*/
.infoPane {
    width: 1200px;
    height: 3000px;
    margin: 0 auto;
    position: relative;
    background: white;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
    z-index: -5;
}
.nightPane {
    width:100%;
    height:  870px;

    background: -webkit-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    background: -moz-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    background: linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    z-index: -4;
    opacity: 100%;
    background-image: url('/home/black-devil/Desktop/programing/react/mini/src/components/images/waternight.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    
}
.dayPane{
  width:100%;
    height: 870px;
    background: -webkit-linear-gradient(	#2bc0e4, 	#2bc0e4, #97d5e8, white);
    background: -moz-linear-gradient(#2bc0e4, 	#2bc0e4, #97d5e8, white);
    background: linear-gradient(	#2bc0e4, 	#2bc0e4, #97d5e8, white);
    z-index: -8;
    opacity: 100%;
    background-image: url('/home/black-devil/Desktop/programing/react/mini/src/components/images/water.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
}



.star {
  height:3px;
  width: 3px;
  background: white;
  position: absolute;
  z-index:0;
}
#star1 {
  top: 20px;
  left: 20%;
}
#star1 + .star {
top: 20px;
left: 70%;
}
#star2 {
  top: 80px;
  left: 4%;
}
#star2 + .star {
  top: 80px;
  left: 75%;
}
#star3 {
  top:150px;
  left: 3%;
}
#star3 + .star {
  top:150px;
  left: 90%;
}
#star4 {
  top:100px;
  left: 7%;
}
#star4 + .star {
  top:100px;
  left: 78%;
}
#star5 {
  top:130px;
  left:13%;
}
#star5 + .star {
  top:130px;
  left: 60%;
}
#star6 {
  height: 5px;
  width: 5px;
  top:50px;
  left: 18%;
}
#star6 + .star {
  height: 5px;
  width: 5px;
  top:50px;
  left: 92%;
}
#star7 {
  top:35px;
  left: 27%;
}
#star7 + .star {
  top:35px;
  left: 79%;
}
#star8 {
  top:35px;
  left: 900px;
}
#star8 + .star{
  top:35px;
  left: 88%;
}
#star9 {
  height: 4px;
  width: 4px;
  top:50px;
  left: 45%;
}
#star9 + .star {
  height: 4px;
  width: 4px;
  top:50px;
  left: 97%;
}
#star10 {
  top:100px;
  left: 44%;
}
#star10 + .star{
  top:100px;
  left: 83%;
}
#star11 {
  top:75px;
  left: 37%;
}
#star11 + .star{
  top:75px;
  left: 66%;
}

@-webkit-keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@-moz-keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@-webkit-keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-moz-keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-webkit-keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-moz-keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-webkit-keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}
@-moz-keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}
@keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}
.custom-slider{
  width: 10%;
}
